body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color:white;
}
.container img{
    background-size: 200px;
}
.section1{
    display:flex;
    justify-content: space-around;
    background-size: 300px;
    border-bottom: solid;
}
.section2{
    display:flex;
    justify-content: space-around;
    background-size: 300px;
    margin-top: 45px;
    border-bottom: solid;
}
.section3{
    display: flex;
    justify-content: space-around;
    background-size: 300px;
    margin-top: 45px;
    border-bottom: solid;
}
.box1 .box4 .box5{
    vertical-align: middle;
    margin-right: 15px;
    margin-left:15px;
}
.container{
    background-color: black;
    padding-right:15px;
    padding-left:15px;
    border:solid;
}
.container h2{
    text-align: center;
}
.box4{
    padding-left: 15px;
}
.box1 .box5{
    padding-left:15px;
}
.navagationlinks{
    text-align: center;
    word-spacing: 55px;
    width: 995px;
    vertical-align: middle;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    height: 30px;
    padding-top: 30px;
    color:white;
}
.navagationlinks a {
    text-decoration: none;
    color: white;
}
.footer{
    color: white;
    display: inline-flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 50px;
    text-align: center;
}
