body{
    background-image: url("smallimage2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    margin-top:50px;
    border: 15px;
    background-color: black;
    color:black;
}

.container{
   text-align: center;
    padding-bottom:15px;
    background-color: white;
    margin-right: 200px;
    margin-left:200px;
    opacity: .7;
}
.navagationlinks{
    text-align: center;
    word-spacing: 55px;
    width: 995px;
    color: black;
    vertical-align: middle;
}