body{
    background-image: url("img/smallimage2.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
    background-color: black;
    width: 1000px;
    margin-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:black;
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
    background-color: white;
    opacity: .7;
    margin-left: 100px;
    margin-right: 100px;
}
.navagationlinks{
    text-align: center;
    word-spacing: 55px;
    width: 995px;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navagationlinks a{
    text-decoration: none;
    color:black;
}

